<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container-fluid">
    <div class="row flex-nowrap">
       <%- include('includes/sidenav') %>
        <div class="col py-3">
            <h2>Wellcome <%- user.email %></h2>

            <%- include('includes/messages')  %>
            <% if (contact._id) { %>

                <form action="/contact/edit/<%= contact._id %>" method="POST">
                    <input type="hidden" name="_csrf" value= <%= csrfToken %>>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" >Name</label>
                      <input type="text" value= "<%= contact.name  %>" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" >Surname</label>
                      <input type="text" value= "<%= contact.surname  %>" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="surname">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" >Phone Number</label>
                      <input type="text" value= "<%= contact.phone  %>"  readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" >Email address</label>
                      <input type="email" value= "<%= contact.email  %>" readonly class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      
                    </div>
                   
                        <button type="submit" class="btn btn-primary">Edit</button>
                    
                <% } else {%>
                    <form action="/contact/create" method="POST">
                        <input type="hidden" name="_csrf" value= <%= csrfToken %>>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label" >Name</label>
                          <input type="text" value= "<%= contact.name  %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label" >Surname</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="surname">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label" >Phone Number</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="phone">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label" >Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                          
                        </div>
                        
                            <button type="submit" class="btn btn-primary">Submit</button>
                    <% } %>
            
             
              </form>

        </div>
    </div>
</div>